.cards{
    
    display: flex;
    padding-bottom: 50px;
    .cityInfo{
        
        display: flex; 
        width: 150px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left:calc(200 * 100% /2985);
      
        
        p{
            display: flex;
            width:100%;
            justify-content: flex-start;
        }

        h6{
            width: 100%;
            display: flex;
            justify-content: flex-start;
        }
    }
  
}